@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Mono";
  scroll-behavior: smooth;
  color-scheme: dark;
  background-color: linear-gradient(131deg, #000 0%, #000 10.40%, #0C0F24 25.00%, #000 66.32%, #080136 100%);
  ;
}

.back {
  background: linear-gradient(131deg, #000 0%, #000 10.40%, #0C0F24 25.00%, #000 66.32%, #080136 100%);
  ;
}

.proj {
  background: linear-gradient(2deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
}